@font-face {
    font-family: 'fragolino';
    font-weight: 300;
    font-style: normal;
    src: url("../fonts/fragolino/FragolinoLight.eot");
    src: url("../fonts/fragolino/FragolinoLight.eot?#iefix") format("embedded-opentype"), url("../fonts/fragolino/FragolinoLight.woff2") format("woff2"), url("../fonts/fragolino/FragolinoLight.ttf") format("truetype");
}

@font-face {
    font-family: 'fragolino-book';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/fragolino/FragolinoBook.eot") format("embedded-opentype");
    src: url("../fonts/fragolino/FragolinoBook.eot?#iefix") format("embedded-opentype"), url("../fonts/fragolino/FragolinoBook.woff2") format("woff2"), url("../fonts/fragolino/FragolinoBook.ttf") format("truetype"); }

@font-face {
    font-family: 'fragolino-book-cond';
    font-weight: 400;
    font-style: normal;
    src: url("../fonts/fragolino/FragolinoCondBook.eot") format("embedded-opentype");
    src: url("../fonts/fragolino/FragolinoCondBook.eot?#iefix") format("embedded-opentype"), url("../fonts/fragolino/FragolinoCondBook.woff2") format("woff2"), url("../fonts/fragolino/FragolinoCondBook.ttf") format("truetype"); }

@font-face {
    font-family: 'fragolino';
    font-weight: 500;
    font-style: normal;
    src: url("../fonts/fragolino/FragolinoMedium.eot") format("embedded-opentype");
    src: url("../fonts/fragolino/FragolinoMedium.eot?#iefix") format("embedded-opentype"), url("../fonts/fragolino/FragolinoMedium.woff2") format("woff2"), url("../fonts/fragolino/FragolinoMedium.ttf") format("truetype"); }

@font-face {
    font-family: 'fragolino';
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/fragolino/FragolinoBold.eot") format("embedded-opentype");
    src: url("../fonts/fragolino/FragolinoBold.eot?#iefix") format("embedded-opentype"), url("../fonts/fragolino/FragolinoBold.woff2") format("woff2"), url("../fonts/fragolino/FragolinoBold.ttf") format("truetype"); }

@font-face {
    font-family: 'fragolino-cond';
    font-weight: 700;
    font-style: normal;
    src: url("../fonts/fragolino/FragolinoCondBold.eot") format("embedded-opentype");
    src: url("../fonts/fragolino/FragolinoCondBold.eot?#iefix") format("embedded-opentype"), url("../fonts/fragolino/FragolinoCondBold.woff2") format("woff2"), url("../fonts/fragolino/FragolinoCondBold.ttf") format("truetype"); }

body {
    box-sizing: border-box;
    font-family: 'fragolino';
}

.arrow-square {
    width: 32px;
    height: 32px;
    background-color: #fff;
    transform: rotate(45deg);
    position: absolute;
    top: calc(50% - 16px);
    left: calc(50% - 16px);
}

.arrow-square.calc {
    background-color: #F2C94C;
}

.column-title {
    font-weight: 700;
    text-transform: uppercase;
    text-align: center;
}

.column {
    padding: 10px;
    /*border: 1px solid #000;*/
}

.block-title {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    text-align: center;
    margin: 20px 0;
    font-weight: 700;
}

.settings-table_block_title {
     grid-template-columns: 1fr 1fr;
 }

.calculator-table {
    max-height: 800px;
    display: grid;
    place-self: center;
}

.calculator-table_block_title {
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.calculator-table_name {
    grid-column: 3 / 4;
}

/*block styles*/
/*.settings-table_item {*/
/*    display: grid;*/
/*    grid-template-columns: 1fr 1fr;*/
/*    padding: 5px;*/
/*    align-items: center;*/
/*}*/

/*.settings-table_item-input {*/
/*    text-align: center;*/
/*}*/

.MuiTypography-root.MuiFormControlLabel-label.MuiTypography-body1 {
    font-size: 12px;
}

.MuiFormControlLabel-root.MuiFormControlLabel-labelPlacementTop {
    margin: 0 5px !important;
}


.calculator-table_row,
.salary-table_item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 5px;
    align-items: center;
}

.calculator-table_row {
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    min-height: 20px;
}

.effort {
    grid-column: 1 / 3;
    font-size: 12px;
}

.salary-table_item-input:not(:last-of-type) {
    margin-right: 5px;
}

.table-root {
    display: block;
    margin: 0 auto;
    height: 100vh;
    position: relative;
}

.table-root_grid {
    margin: 0;
    display: grid;
    grid-template-columns: repeat(2, minmax(50%, 50%));
    /*grid-template-rows: repeat(1, 100%);*/
}

/*loader styles*/

.loader-block {
    height: 100%;
    display: grid;
    place-content: center;
    text-align: center;
}

.transition-left {
    transform: translateX(-25%);
    transition: 0.7s;
}

.opacity-calc {
    opacity: 1 !important;
    /*transition: 0.7s;*/
}



.transition-left-calc {
    /*position: relative !important;*/
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-name: left-calc;
    animation-timing-function: ease;
}

@keyframes left-calc {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}
/*.grid-column-start {*/
/*    grid-column-start: 1;*/
/*}*/

.transition-right {
    transform: translateX(100%);
    /*transition: 0.7s;*/
}

.loader-title {
    background-image: url("../images/loader-title.svg");
    width: 388px;
    height: 43px;
}

.loader-subtitle {
    font-family: 'fragolino';
    font-weight: 700;
    font-size: 36px;
    line-height: 46px;
    letter-spacing: 0.03em;
    margin: 0;
    margin-top: 27px;
}

.loader-arrow {
    text-align: center;
    background-image: url("../images/loader-arrow.svg");
    width: 32px;
    height: 32px;
    display: block;
    opacity: 0;
    margin: 0 auto;
    margin-top: 120px;
}

/*setting table styles*/

.setting-table {
    background-color: #F2C94C;
    padding: 80px 110px;
    opacity: 0;
    display: grid;
    /*flex-direction: column;*/
    place-content: center;

    /*position: relative;*/
    /*right: 0;*/
    /*height: 100vh;*/
}

.settings-table_block {
    width: 505px;
    margin: 0 auto;
    max-height: 680px;
    height: 680px;
    /*justify-content: center;*/
    /*align-content: center;*/
}

.settings-table_item-name {
    font-family: 'fragolino';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    position: relative;
}

.settings-table_item-input {
    margin-top: 15px;
    position: relative;
}

.settings-table_item:not(:first-of-type) {
    margin-top: 42px;
}

.platform-input {
    z-index: -1;
    opacity: 0;
    width: 152px;
    height: 46px;
    margin-right: 30px;
    position: absolute;
}

.settings-table_item-input > label {
    height: 46px;
    position: relative;
    display: inline-block;
    cursor: pointer;
    padding: 0;
}

.platform-input-label::after {
    z-index: 2;
    display: block;
    position: absolute;
    font-family: 'fragolino';
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    content: '';
    width: 152px;
    height: 46px;
    border: 1px solid #000;
    margin-right: 30px;
    display: grid;
    place-items: center;
    transition: 0.5s;
}

.web-label::after {
    content: 'web';
    left: 0;
    top: 0;
}

.mobile-label::after {
    content: 'mobile-app';
    left: 174px;
    top: 0;
}

.desktop-label::after {
    content: 'desktop';
    left: 350px;
    top: 0;
}

.platform-input:checked+label::after {
    background-color: black;
    color: #fff;
    transition: 0.5s;
}

 /* building */

.number-input {
    width: 114px;
    padding: 10px 15px;
    background-color: transparent;
    border-radius: 30px;
    border: 1px solid #000;
    position: relative;
    /*color: black;*/
    /*font-family: 'fragolino';*/
    /*font-weight: 400;*/
    /*font-size: 12px;*/
    /*line-height: 15px;*/
}

.buildings-input {
    top: -14px;
}

.number-input:not(:last-of-type) {
    margin-right: 20px;
}

.number-input:focus {
    outline: none;
    background-color: #fff;
}

.general-input-block {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.general-input-div {
    display: flex;
    flex-direction: column;
    position: relative;
}

.general-label {
    font-family: 'fragolino';
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    cursor: pointer;
    margin-top: 25px;
    position: relative;
    /*text-align: center;*/
}

.facade-complexity-div_center {
    align-items: center;
    text-align: center;
}

.facade-complexity-div_right {
    align-items: flex-end;
    text-align: right;
}

.general-input {
    opacity: 0;
    position: absolute;
}

.general-label::after {
    z-index: 2;
    display: block;
    position: absolute;
    content: '';
    top: -20px;
    width: 16px;
    height: 16px;
    border: 1px solid #000;
    border-radius: 50%;
    background-color: transparent;
}

.facade-complexity-label_center::after {
    left: calc(50% - 9px);
}

.facade-complexity-label_right::after {
    right: 2px;
}

.facade-complexity-input:checked + .facade-complexity-label {
    color: #fff;
}

.facade-complexity-input:checked + .facade-complexity-label::after {
    background-image: url("../images/radio_ellipse.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px 12px;
}

.line {
    background-image: url("../images/radio_line.svg") !important;
    background-repeat: no-repeat;
    background-size: contain;
    top: calc(50% - 29px);
    left: -2px;
    width: 262px;
    height: 38px;
    position: absolute;
    z-index: 0;
}

.line-center {
    left: 73px;
    /*width: 222px;*/
}

.tour-block-360 {
    display: flex;
}

.tour-input-360 {
    width: 100%;
    height: 15px;
}

.furnishing-complexity-label_center::after {
    left: calc(50% - 9px);
}

.furnishing-complexity-label_right::after {
    right: 2px;
}

.furnishing-complexity-input:checked + .furnishing-complexity-label {
    color: #fff;
}

.furnishing-complexity-input:checked + .furnishing-complexity-label::after {
    background-image: url("../images/radio_ellipse.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px 12px;
}

.furnishing-complexity-div_center {
    align-items: center;
    text-align: center;
}

.furnishing-complexity-div_right {
    align-items: flex-end;
    text-align: right;
}

.line-furnishing {
    top: calc(50% - 20px);
}

.environment-complexity-label_center::after {
    left: calc(50% - 9px);
}

.environment-complexity-label_right::after {
    right: 2px;
}

.environment-complexity-input:checked + .environment-complexity-label {
    color: #fff;
}

.environment-complexity-input:checked + .environment-complexity-label::after {
    background-image: url("../images/radio_ellipse.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 12px 12px;
}

.environment-complexity-div_center {
    align-items: center;
    text-align: center;
}

.environment-complexity-div_right {
    align-items: flex-end;
    text-align: right;
}

.line-environment {
    top: calc(50% - 20px);
}


/*********** buttons in project features block ***********/

.actions-block,
.actions-calc_block {
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reset-button_styles {
    background: transparent;
    border: none;
    font-family: Fragolino;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
}

.clear-button {
    text-transform: uppercase;
    text-decoration-line: underline;
    cursor: pointer;
}

button:focus {
    outline: none;
}

.calculate-button {
    width: 135px;
    height: 36px;
    display: block;
    align-items: center;
    justify-content: center;
    background-color: #000;
    border: 1px solid #000000;
    transform: skewX(-34deg);
}

.calculate-button > span {
    padding-top: 7px;
    display: block;
    font-weight: 700;
    cursor: pointer;
    width: 126px;
    height: 36px;
    color: #fff;
    letter-spacing: 0.05em;
    text-transform: uppercase;
    transform: skewX(34deg);
}

.calculate-button:hover {
    border: 1px solid #000000;
    background: transparent;
    color: #000;
}

.calculate-button:hover > span {
    color: #000;
}

/*.calculate-button:disabled {*/
/*    !*opacity: 0.2;*!*/
/*    cursor: auto;*/
/*}*/

/*********** buttons in calculate block ***********/

.adjust-salary-button {
    text-decoration: underline;
    padding-left: 36px;
    line-height: 24px;
    position: relative;
    cursor: pointer;
}

.adjust-salary-button::after {
    content: '';
    position: absolute;
    width: 24px;
    height: 24px;
    left: 0;
    top: 0;
    background-image: url("../images/pencil.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.calculate-button:disabled > span {
    cursor: initial;
}

/************* buttons in popup ***************/

.popup-actions {
    padding: 0 20px;
}

.close-button {
    color: #000000;
}


/************  CALC Styles ************/

.calculator-table {
    padding: 50px 190px;
}

.total-block {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
}

.total-days-box {
    display: flex;
    flex-direction: column;
    padding-left: 48px;
    align-items: center;
    justify-content: center;
    position: relative;
}

.total-days-box::after {
    position: absolute;
    content: '';
    width: 32px;
    height: 32px;
    background-image: url("../images/calendar.svg");
    background-repeat: no-repeat;
    background-size: contain;
    top: 23px;
    left: 0;
}

.month-text {
    font-family: 'fragolino';
    font-weight: bold;
    font-size: 24px;
    line-height: 31px;
    letter-spacing: 0.03em;
}

.month-text-int {
    font-family: 'fragolino';
    font-weight: 700;
    font-size: 36px;
    line-height: 38px;
    letter-spacing: 0.03em;
}

.calculator-days-amount {
    font-family: 'fragolino';
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    /* identical to box height */

    letter-spacing: 0.03em;
}

.total-cost {
    font-family: 'fragolino';
    font-weight: 700;
    font-size: 72px;
    line-height: 76px;
    text-align: center;
    letter-spacing: 0.03em;
}

.calculator-table_item-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 23px;
    letter-spacing: 0.03em;
}

.calculator-table_block {
    margin-top: 5px;
}

.calculator-table_item.days {
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-align: right;
 }

.calculator-table_item.cost {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
    text-align: right;
}

.total-row {
    border-top: 1px solid #000;
    padding-top: 20px;
    margin-top: 15px;
}

.calculator-table_item.effort {
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 0.03em;
}

.calculator-table_row.first-row {
    margin-top: 5px;
}

/*************** outsource checkbox ***************/
.calculator-table_item.outsource {
    text-align: right;
    position: relative;
}

.outsource-input {
    position: relative;
    opacity: 0;
}

.outsource-input-label::after {
    z-index: 2;
    display: block;
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    width: 24px;
    height: 24px;
    background-image: url("../images/dollar.svg");
    background-repeat: no-repeat;
    background-position: center center;
    filter: saturate(0);
    opacity: 0.2;
}


.outsource-input:checked + .outsource-input-label {
    color: #fff;
}

.outsource-input:checked + .outsource-input-label::after {
    filter: saturate(1);
    opacity: 1;
}


/********************************* BREAKPOINTS *******************************************/

/* widthter screen */



@media (max-width: 1440px) {
    .settings-table_block {
        /*width: initial;*/
    }

    .calculator-table {
        padding: 50px 110px;
        max-height: 800px;
        margin: 0 auto;
    }
}


/* make smaller height of screen*/
@media (max-height: 846px) {

    .setting-table {
        padding: 50px 110px;
    }

    .calculator-table {
        padding: 20px 110px;
    }

    .settings-table_item-input {
        margin-top: 20px;
    }

    .settings-table_item:not(:first-of-type) {
        margin-top: 30px;
    }

    .actions-block {
        margin-top: 40px;
    }

    .total-block {
        margin-bottom: 15px;
    }

    .calculator-table_block {
        margin-top: 5px;
    }

    .calculator-table_row.first-row {
        margin-top: 5px;
    }

    .total-row {
        padding-top: 15px;
        margin-top: 10px;
    }

    .actions-calc_block {
        margin-top: 20px;
    }
}

@media (max-width: 1115px) and (max-height: 846px) {

    body > div {
        visibility: hidden;
    }

    body {
        background-image: url('https://cdn11.bigcommerce.com/s-10c6f/products/298/images/454/FS_STOP_DoNotEnter__20219.1332884610.450.450.jpg?c=2');
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
    }


}

.none {
     display: none;
 }

.block {
    opacity: 1;
    transition: 0.5s;
}

/**************** background colors *******************/

.green {
     background-color: rgba(60,173,73,1) !important;
    transition: 1s;
 }

.blue {
    background-color: rgba(56,116,163,1) !important;
    transition: 1s;
}

.red {
    background-color: rgba(213,29,84,1) !important;
    transition: 1s;
}

.yellow {
    background-color: rgba(224,177,40,1) !important;
    transition: 1s;
}


/**************** popup *******************/

/*.calculator-table + div {*/
/*    display: none;*/
/*}*/

.email-input {
    display: grid !important;
    place-items: center;
    height: 60%;
}

.email-input > div {
    width: 300px !important;
    /*margin: 0 auto !important;*/
}

.save-modal-button {
    margin-left: 215px;
}


*::placeholder {
    font-weight: 300;
    color: #000;
}

/***************** Tooltips ********************/

.MuiTooltip-tooltip {
    background-color: #fff !important;
    border-radius: 0% !important;
    width: 136px !important;
    height: 38px !important;
    display: grid !important;
    place-items: center;
    text-align: center !important;
    filter: drop-shadow(0px -3px 8px rgba(0, 0, 0, 0.4)) !important;
}

.popup-content {
    border-radius: 0% !important;
    width: 93px !important;
    padding: 10px 16px  !important;
    left: 1082px;
}

/*.MuiTooltip-tooltip.MuiTooltip-tooltipPlacementLeft {*/
/*    top: -100px;*/
/*    !*will-change: none !important;*!*/
/*    !*transform: none !important;*!*/
/*}*/

/*.MuiTooltip-popper {*/
/*    top: 100px !important;*/
/*    will-change: top !important;*/
/*}*/

.MuiTooltip-tooltipPlacementBottom,
.MuiTooltip-tooltipPlacementTop,
.MuiTooltip-tooltipPlacementRight,
.MuiTooltip-tooltipPlacementLeft,
.popup-content {
    font-family: Fragolino !important;
    font-weight: 400 !important;
    font-size: 14px !important;
    line-height: 18px !important;
    color: #EB5757 !important;
}

.MuiTooltip-tooltipPlacementBottom {
    top: -6px;
}

.MuiTooltip-arrow {
    color: #fff !important;
    width: 19px !important;
}

.MuiTooltip-tooltipPlacementTop {
    left: 78% !important;
    width: 170px !important;
    display: grid;
    place-items: center;
}

.MuiTooltip-tooltipPlacementRight {
    width: 118px !important;
    height: 36px !important;
    top: 90px;
    padding: 64px 32px !important;
    left: 15px;
}

.MuiTooltip-tooltipPlacementRight > span {
    transform: rotate(225deg) scale(1.5);
    left: 4px !important;
    top: calc(50% - 0.5em) !important;
}

.MuiTooltip-tooltipPlacementLeft > span {
    transform: rotate(225deg);
    right: 4px !important;
    top: calc(50% - 0.9em) !important;
}

.popup-content {
    z-index: 9999999 !important;
}

@keyframes trambling-animation {
    0%, 50%, 100% {
        transform: rotate(0deg);
    }
    10%, 30% {
        transform: rotate(-2deg);
    }
    20%, 40% {
        transform: rotate(2deg);
    }
}

.tramble {
    animation: 1s ease-in-out 0s normal none running trambling-animation;
}

.salary-table_item-input-text {
    position: relative;
    left: 25px;
    margin-left: 25px;
    /*width: 200px;*/
    font-size: 12px;
}


    /***************** Footnote ********************/


.footnote {
    position: absolute;
    font-size: 22px;
    top: -8px;
}

.building-total_footnote {
    left: 142px;
}

.unique-buildings_footnote {
    left: 310px;
}

.platform_footnote {
    top: 0;
}

/********** input value *************/


/*.tour-apart-label::after {*/
/*    content: 'Apt. tour';*/
/*}*/

/*.tour-apart-label.top::after ~ .tour-apart-input:focus  {*/
/*    animation-duration: 0.2s;*/
/*    animation-iteration-count: 1;*/
/*    animation-name: top;*/
/*    animation-timing-function: ease;*/
/*    animation-fill-mode: forwards;*/
/*}*/

/*@keyframes top {*/
/*    from {*/
/*        top: calc(100% - 27px);*/
/*        font-weight: 300;*/
/*        font-size: 14px;*/
/*        line-height: 17px;*/

/*    } to {*/
/*         top: calc(100% - 53px);*/
/*         font-weight: 400;*/
/*         font-size: 12px;*/
/*         line-height: 15px;*/
/*  }*/
/*}*/