@keyframes scaleTo {
    0% {
      transform: scaleX(1);
    }
    100% {
      transform: scaleX(0.1);
    }
}

@keyframes scaleFrom {
  0% {
    transform: scaleX(0.1);
  }
  100% {
    transform: scaleX(1);
  }
}

.scaleTo {
  animation: scaleTo 0.2s ease-in-out;
}

.scaleFrom {
  animation: scaleFrom 0.2s ease-in-out;
}

.complexity-examples {
  background-position: center;
  background-repeat: no-repeat;
  background-size: 680px 680px;
  height: 100%;
  width: 100%;

  &.simple {
  background-image: url("../../images/min.svg");
  }

  &.middle {
    background-image: url("../../images/middle.svg");
  }

  &.max{
    background-image: url("../../images/max.svg");
  }

  &.easy-env {
    background-image: url("../../images/ezy-env.svg");
    background-size: 500px;
  }

  &.normal-env {
    background-image: url("../../images/normal-env.svg");
    background-size: 500px;

  }

  &.hardcore-env {
    background-image: url("../../images/hardcore-env.svg");
    background-size: 500px;
  }

}



